{{#if_not message ''}}
<div class="alert alert-{{alertLevel}}" role="alert">
  {{message}}
</div>
{{/if_not}}
<div class="d-flex flex-column flex-shrink-0 h-100 bg-light p-2" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/reports" class="nav-link {{reports}}" aria-current="page">
          Fouls
        </a>
      </li>
      <li>
        <a href="/reports/evaluations" class="nav-link {{evals}}">
          Evaluations
        </a>
      </li>
      <li>
        <a href="/reports/documents" class="nav-link {{documents}}">
        Documents
        </a>
      </li>
      <li>
        <a href="/reports/quizzes" class="nav-link {{quizzes}}">
        Quizzes
        </a>
      </li>
    </ul>
  </div>