<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css-output/main.css' />
  </head>
  <body class="nav-masthead d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class ="mb-auto">
    <div>
        <img src= "images/sciac-logo.png" class='float-md-start mb-0 img-shrink'>
        <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link {{home}}" href="/">Home</a>
        <a class="nav-link {{profile}}" href="/profile">{{username}}</a>
      </nav>
    </div>
    </header>

    {{{body}}}

    <footer class="mt-auto text-black-50 ">
        <p>Website &copy; 2022 Michael Frain/FCS West</p>
    </footer>
  </body>
</html>
