<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css-output/main.css' />
    <script src="/bootstrap-js/bootstrap.min.js"></script>
  </head>
  <body class="d-flex w-100 h-100 p-0 mx-auto flex-column">

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #76aedc">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src= "/images/sciac-logo.png" class='float-md-start mb-0 img-shrink'>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#authNavbar" aria-controls="authNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="authNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link {{home}}" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/profile" class="nav-link {{profile}}">Profile</a></li>
          {{#if_equals userLevel "admin"}}
          <li class="nav-item"><a href="/users" class="nav-link {{register}}">Users</a></li>
          {{/if_equals}}
          {{#if_not userLevel "guest" }}
          <li class="nav-item"><a href="/reports" class="nav-link {{register}}">Reports</a></li>
          {{/if_not}}
        </ul>
      </div>
    </div>
  </nav>
  {{> alert}}

    {{{body}}}

    <footer class="mt-auto text-black-50">
        <p class="text-center">Website &copy; 2022 Michael Frain/FCS West</p>
    </footer>
  </body>
</html>
