<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css-output/main.css' />
  </head>
  <body class="d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src= "images/sciac-logo.png" class='float-md-start mb-0 img-shrink'>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{home}}" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/login" class="nav-link {{login}}">Login</a></li>
        <li class="nav-item"><a href="/register" class="nav-link {{register}}">Register</a></li>
      </ul>
    </header>
  </div>

    {{{body}}}

    <footer class="mt-auto text-black-50">
        <p>Website &copy; 2022 Michael Frain/FCS West</p>
    </footer>
  </body>
</html>
