<div class="hstack gap-3 h-100 w-100 p-0">
    {{> reports}}
    <div class="vstack">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Week</th>
                <th scope="col">Report</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://docs.google.com/spreadsheets/d/1QwUh53OD0TlxfTz1UtnjvFwFJCf0nsEsfHJ57cgUg00/edit#gid=0">Link
                </a></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://docs.google.com/spreadsheets/d/1OQyn5JYJ3ZKiLn89i9f4RI8DoSjWDmx65o9jfTYM7e8/edit#gid=0">Link
                </a></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/1Ia-E3-DifluQuDRaGkunVpPYfIJ_NP9FG4NUF9IgKCo/edit#gid=671745542">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1VgbkwumcKOOUUo4VJ1zMjL2nw_nFJbKHH8oBWzpupDc/edit#gid=0">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1VgbkwumcKOOUUo4VJ1zMjL2nw_nFJbKHH8oBWzpupDc/edit#gid=0">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                <th scope="row">4</th>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/1_80tprZCFL7pfXfG6pMBb_7LixkDBFT_39ANxmrdsyg/edit#gid=0">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1fSH9w78PuRnrnuApGCFsKX4OQvhaikhq8t9Z0tRJzLc/edit#gid=0">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1fSH9w78PuRnrnuApGCFsKX4OQvhaikhq8t9Z0tRJzLc/edit#gid=0">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                <th scope="row">5</th>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/1wllPyZ9WC985msaceCFx5Y5f5Qj9P0-WnWw7SXrm4ls/edit">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1vuErWbLQbyL6ynxCN5z0iT4kRSpOzB5qc3kp-X9QkC4/edit">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1vuErWbLQbyL6ynxCN5z0iT4kRSpOzB5qc3kp-X9QkC4/edit">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/1M6pSv55y_vXUA6esp8-Msz2y3MteBH2sfeFjrB6QIsE">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1brA4i6igFOr0WqNeZeLLoX51KoYaklWYlJDYOm5ne7M">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1brA4i6igFOr0WqNeZeLLoX51KoYaklWYlJDYOm5ne7M">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/17zTPcY7sAueUiIT4bakHZEVdDVD2T3swvoxKxLj4OmE">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1RoOLT_dbE9zbuuBPeoBq23ApLW9p46gYf6fL5xCN2c0">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1RoOLT_dbE9zbuuBPeoBq23ApLW9p46gYf6fL5xCN2c0">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                {{#if_equals userLevel "evaluator"}}
                <td><a href="https://docs.google.com/spreadsheets/d/1zkK4_uMz2cf5ZplUffQX2e6AlXGJTX9ATsiHiQpPOV0/edit?usp=sharing">Evaluator View</a></td>
                <td><a href="https://docs.google.com/spreadsheets/d/1Y81DlLT-Yh8Uz-QrY7jlIhwqCZOW3hP6Y24r2dl_Akk/edit?usp=sharing">Officials View</a></td>
                {{else}}
                <td><a href="https://docs.google.com/spreadsheets/d/1Y81DlLT-Yh8Uz-QrY7jlIhwqCZOW3hP6Y24r2dl_Akk/edit?usp=sharing">Officials View</a></td>
                <td></td>
                {{/if_equals}}
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Not available</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>